<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Дополнительная информация</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="ttl">Дополнительная информация</div>
        <div class="groupval">
            <div class="inf">Широта города:
                <span th:text="${lat}"></span>
            </div>
            <div class="inf">Долгота города:
                <span th:text="${lon}"></span>
            </div>
            <div class="inf">Меньшая широта точек для интерполяции:
                <span th:text="${lat1}"></span>
            </div>
            <div class="inf">Большая широта точек для интерполяции:
                <span th:text="${lat2}"></span>
            </div>
            <div class="inf">Меньшая долгота точек для интерполяции:
                <span th:text="${lon1}"></span>
            </div>
            <div class="inf">Большая долгота точек для интерполяции:
                <span th:text="${lon2}"></span>
            </div>
        </div>
        <div class="groupval">
            <div class="inf">Массив времен GPS:
                <span th:text="${gpsTime}"></span>
            </div>
        </div>
        <div class="groupval">
            <div class="inf">Массив альфа-коэффициентов:
                <span th:text="${alpha}"></span>
            </div>
            <div class="inf">Массив бета-коэффициентов:
                <span th:text="${beta}"></span>
            </div>
        </div>
        <div class="groupval">
            <div class="inf">Величина TEC точки A1 прогнозного файла:
                <span th:text="${forecastA1}"></span>
            </div>
            <div class="inf">Величина TEC точки A2 прогнозного файла:
                <span th:text="${forecastA2}"></span>
            </div>
            <div class="inf">Величина TEC точки A3 прогнозного файла:
                <span th:text="${forecastA3}"></span>
            </div>
            <div class="inf">Величина TEC точки A4 прогнозного файла:
                <span th:text="${forecastA4}"></span>
            </div>
            <div class="inf">Величина TEC точки A1 точного файла:
                <span th:text="${preciseA1}"></span>
            </div>
            <div class="inf">Величина TEC точки A2 точного файла:
                <span th:text="${preciseA2}"></span>
            </div>
            <div class="inf">Величина TEC точки A3 точного файла:
                <span th:text="${preciseA3}"></span>
            </div>
            <div class="inf">Величина TEC точки A4 точного файла:
                <span th:text="${preciseA4}"></span>
            </div>
        </div>
    </body>
</html>