<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Дополнительная информация</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="ttl">Дополнительная информация</div>
        <div class="groupval">
            <div class="inf">Номер первого спутника:
                <span th:text="${satellite1Number}"></span>
            </div>
            <div class="inf">Номер второго спутника:
                <span th:text="${satellite2Number}"></span>
            </div>
            <div class="inf">Номер третьего спутника:
                <span th:text="${satellite3Number}"></span>
            </div>
        </div>
        <div>
            <div class="groupval inf">Углы возвышения первого спутника:
                <div th:text="${satellite1ElevationAngles}"></div>
            </div>
            <div class="groupval inf">Углы возвышения второго спутника:
                <div th:text="${satellite2ElevationAngles}"></div>
            </div>
            <div class="groupval inf">Углы возвышения третьего спутника:
                <div th:text="${satellite3ElevationAngles}"></div>
            </div>
        </div>
    </body>
</html>